AIRFLOW_CONN_MSTEAMS_WEBHOOK=https://ask-your-team-to-provide-you-with-this-url
AIRFLOW_CONN_AWS_S3=aws://minio_access_key:minio_secret_key@/?endpoint_url=http%3A%2F%2Fstorage%3A9000&region_name=us-east-1
